<footer class="footer">
    <div class="footer__container">
        <p>2018, Все названия, логотипы и товарные знаки являются собственностью корпорации ООО “Company name”</p>
        <p>Посещение данного сайта и использование содержащейся на нем информации регулируется условиями нашего "Правового положения". Ознакомьтесь с нашей "Политикой конфиденциальности".</p>
        <div style="color:#000;font-family:sans-serif;">Вёрстка <a href="https://nikkeyl.github.io/nikkeyl" style="color:#80f;text-decoration:underline">Никита Алманов</a></div>
    </div>
</footer>