<header data-lp class="header">
    <div class="header__container">
        <a href="index.html" class="logo header__logo">
            <img src="@content/img/logo.png" alt="ЕвроФлекс">
        </a>
        <div class="menu header__menu">
            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" aria-label="Навигация по странице" data-goto-header data-goto=".our-products" class="menu__link">Продукция</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="Навигация по странице" data-goto-header data-goto=".choices" class="menu__link">Отраслевые решения</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="Навигация по странице" data-goto-header data-goto=".production" class="menu__link">Производство</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="Навигация по странице" data-goto-header data-goto=".advantages" class="menu__link">Преимущества</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__actions">
            <div data-da=".menu__list, 479.98" class="header__callback">
                <a href="tel:+74951234567" class="header__phone">+7 (495) 123-45-67</a>
                <a href="#" aria-label="обратный звонок" class="header__button button button--small">Обратный звонок</a>
            </div>
            <button aria-label="Иконка меню" type="button" class="header__icon icon-menu">
                <span></span>
            </button>
        </div>
    </div>
</header>